.container {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* For Firefox: hide scrollbars */
.container::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  padding: 0px;
}

/* src/styles/custom.css */
/* src/styles/custom.css */
.scrollbar-thin {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 transparent;
  /* Scrollbar thumb color and transparent track */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  /* Hide the track */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Rounded corners for the scrollbar */
  border: 2px solid transparent;
  /* Space around scrollbar */
  background-clip: padding-box;
  /* Hide the scrollbar track */
}